.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 3px solid #292929;
  border-radius: 10%;
  width: 130px;
  gap: 7px;
}
.image {
  width: 80px;
}
.name {
  font-size: 26px;
}
.status {
  font-size: 18px;
}
.online {
  color: green;
}

.offline {
  color: red;
}
