.wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.good {
  background-color: green;
  color: white;
}

.good:hover {
  background-color: #14b814;
}

.neutral {
  background-color: gray;
  color: white;
}

.neutral:hover {
  background-color: #a0a0a0;
}

.bad {
  background-color: #b81414;
  color: white;
}

.bad:hover {
  background-color: red;
}

.btnReset {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.btnReset:hover {
  background-color: #f2f3f4;
}
